<html>
<head>

  <title>The Amazing and Wonderful World of Cryptozoology</title>

  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

  <body>

    <div class='container'>

    <h1>The Amazing and Wonderful World of Cryptozoology</h1>

    <%- body %>

    <hr />
    <a href='/' class='btn btn-info'>Home Page</a>
    <a href='/article/new' class='btn btn-info'>Add Article Form</a>
    <a href='/tags' class='btn btn-info'>View All Tags</a>

    </div>

  </body>

</html>